// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#time-entry-form-div{
    padding: 3px;
    align-content: self;
    border: 1px solid black;
    form {
        padding: 25px;
        fieldset {
            display: inline;
            margin: 10px;

            div{
                padding: 10px;
            }
        }

        .form-actions{
            padding: 10px;
        }
    }
}