// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#time-entry-form-div{
    padding: 10px;

    #add-time-entries-button{
        margin-top: 30px;
        margin-left: 35%;
        font-size: 25px;
    }

    .time-entry-row{
        padding: 10px;
        .fieldset {
            margin: 10px;
            padding: 10px;
        }
    }
    margin: 20px;
    padding: 3px;
    align-content: self;
    border: 1px solid black;
    form {
        margin-left: 10%;
        fieldset {
            display: inline;
            margin: 10px;

            div{
                padding: 10px;
            }
        }

        .form-actions{
            padding: 10px;
            margin-left: 37%;
        }
    }

    #entry_submit_action{

    }
}

#monthly-summary-form-div {
    margin : 100px;
    padding: 50px;
    border: 1px solid black;

    select {
        margin: 30px;
    }

    #get-summary-button {
        margin-left: 80px;
    }
}

#view-time-entries-link{
    margin-left: 43%;
    margin-top: 30px;
    a{
        font-size: 30px;
    }
}

#success-message{
    padding-top: 40px;
    text-align: center;
}